APP_NAME=segretarIA
APP_VERSION=

OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=llama3.2:3b
OLLAMA_KEEP_ALIVE=10m

DATABASE_PATH=/storage/database/secretary.db


EMAIL_PROVIDER=imap
IMAP_SERVER=outlook.office365.com
IMAP_PORT=993
EMAIL_ADDRESS=

AZURE_TENANT_ID=
AZURE_CLIENT_ID=

OAUTH_REDIRECT_URI=http://localhost